<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113163679261-8h4eau042lput62hr1rcmdneetq2shpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113163679261-8h4eau042lput62hr1rcmdneetq2shpu</string>
	<key>API_KEY</key>
	<string>AIzaSyBlrqKPlG9uGRITei_-Axd4PfrGZioK69U</string>
	<key>GCM_SENDER_ID</key>
	<string>113163679261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.Beliro.Soothie-Baby</string>
	<key>PROJECT_ID</key>
	<string>soothie-baby-1af7e</string>
	<key>STORAGE_BUCKET</key>
	<string>soothie-baby-1af7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:113163679261:ios:a51f15e8780c57fd</string>
	<key>DATABASE_URL</key>
	<string>https://soothie-baby-1af7e.firebaseio.com</string>
</dict>
</plist>